<link rel="canonical" href="{{ .Page.Permalink }}" />
<!-- PWA -->
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="nent-app" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#0000" />
<meta
  name="viewport"
  content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
/>
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="NENT" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/icons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/favicon-16x16.png"
/>
<link rel="manifest" href="/manifest.json" />
<link
  rel="mask-icon"
  href="/icons/safari-pinned-tab.svg"
  color="#5bbad5"
/>
<meta name="msapplication-TileColor" content="#2b5797" />
<meta name="theme-color" content="#ffffff" />

{{- if isset .Params "redirect" -}}
<meta
  http-equiv="refresh"
  content="0; url={{ .Page.Params.redirect }}"
/>
{{- end -}}
<!-- Optimizations -->
<link rel="dns-prefetch" href="cdn.jsdelivr.net" />
<link rel="dns-prefetch" href="fonts.googleapis.com" />
<link rel="dns-prefetch" href="fonts.gstatic.com" />
<link rel="preconnect" href="https://cdn.jsdelivr.net" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- NENT -->
{{- $nent := .Site.Params.nentRoot -}}
<script type="module" src="{{ $nent }}/nent.esm.js"></script>
<!-- Flowbite -->
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
