:host {
  display: none;
}
:host(.active) {
  display: block;
}
:host(.active) ::slotted([slot='content']),
:host(.active) div[slot='content'] {
  display: none;
}
:host(.exact) {
  display: ∫;
}
:host(.exact) ::slotted([slot='content']),
:host(.exact) div[slot='content'] {
  display: block;
}
