<div class="relative flex items-center max-w-md mx-auto mt-12 overflow-hidden text-center rounded-full">
  <input type="text" name="email" placeholder="Email Address" class="w-full h-12 px-6 py-2 font-medium text-indigo-800 focus:outline-none">
  <span class="relative top-0 right-0 block">
      <button type="button" class="inline-flex items-center w-32 h-12 px-8 text-base font-bold leading-6 text-white transition duration-150 ease-in-out bg-indigo-400 border border-transparent hover:bg-indigo-700 focus:outline-none active:bg-indigo-700">
          Sign Up
      </button>
  </span>
</div>
<div class="mt-8 text-sm text-indigo-300">By signing up, you agree to our terms and services.</div>
