name: docs

on:
  workflow_dispatch:

jobs:
  docs:
    name: Publish Docs
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
        name: checkout
      - uses: actions/setup-node@v4
        name: setup-node
        with:
          node-version: '16.x'
      - name: cached
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            nodeModules-${{ hashFiles('**/yarn.lock') }}
      - name: dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install
        env:
          CI: true
      - name: build
        run: yarn build
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./tools/docs/src
      - uses: actions/deploy-pages@v4
        id: deployment
