name: test

on:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Use cached node_modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/yarn.lock') }}-22.x
          restore-keys: |
            nodeModules-${{ hashFiles('**/yarn.lock') }}-22.x
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn
        env:
          CI: true
      - run: yarn lint
      - run: yarn build

  tests:
    name: Tests
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 14.x
        uses: actions/setup-node@v4
        with:
          node-version: 14.x
      - name: Use cached node_modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/yarn.lock') }}-14.x
          restore-keys: |
            nodeModules-${{ hashFiles('**/yarn.lock') }}-14.x
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn
        env:
          CI: true
      - run: yarn test
